:root {
  --primary-color: rgb(80, 200, 120);
}

/* Home page */
#body-main {                      
  background: url(images/girl.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: Roboto;
  color: white;
}

/* About and Contact pages */
#body-about, #body-contact {                       
  background-color: black;
  font-style: Roboto;
  color: white;
}

a {
  font-size: 22px;
  text-align: center;
  margin: 0 1em;
  transition: color .25s;
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

h1 {
  font-size: 60px;
  margin: 100px 0 50px;
  transition: color .25s;
  width: 250px;
}

h1:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company-logo {
  font-size: 27px;
  text-decoration: none;
  color: white;
  margin-left: 50px;

  letter-spacing: 2px;
}

.company-logo:hover {
  cursor: pointer;
}

.navbar-tabs {
  width: 470px;
  font-size: 22px;
  text-align: right;
  transition: color .25s;
  text-decoration: none;
  flex: 1;
  margin-right: 60px;
}

.navbar-tabs:hover {
  cursor: pointer;
  color: var(--primary-color);
}

#active-tab-color {
  color: var(--primary-color);
}

.socials {
  width: 30px;
  float: right;
  margin-left: 10px;
}

.socials:hover {
  cursor: pointer;
}

.main-text {
  margin: 8em;
  display: inline-block;
}

.author {
  font-size: 60px;
  transition: color .5s;
  margin-top: 0;
  margin-bottom: 10px;
}

.author:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.subtext {
  font-size: 22px;
  letter-spacing: 8px;
  text-align: center;
}

.biography {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 0;
  line-height: 30px;
  width: 450px;
}

.about-img {
  width: 350px;
  float: right;
  margin: 180px 100px 0 50px;
  border: solid;
  border-color: var(--primary-color);
}

.contact-info {
  width: 300px;

}

.contact-info {
  font-size: 16px;
  font-size: 18px;
  margin-left: 80px;
  margin-right: 0;
  line-height: 30px;
  margin-top: 170px;
  width: 300px;
}

.contact-form {
  float: right;
  margin-top: 150px;
  margin-right: 150px;
}

input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  background-color: black;
  border-color: black;
  border-bottom-color: white;
  color: white;
  transition: border-color .25s;
  display: block;
}

label {
  display: block;
 }

input:hover {
  border-color: white;
}

.feedback-input {
  input {
    padding: 10px 5px; 
    line-height: 28px;
    width: 400px;
  }
}

button {
  width: 400px;
  color: var(--primary-color);
  border-color: black;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: border-color .25s;
}

button:hover {
  border-color: var(--primary-color);
}